body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
}

/* 
.glob {
    text-align: center;
    position: relative;
    z-index: 98;
    border-radius: 50%;
    height: 232.2px;
    width: 232.2px;
    list-style: none;
    overflow: hidden;
    border: 2px solid black;
    background-color: white;
} */

#return {
    position: absolute;
    width: 116px;
    height: 28px;
    top: 200px;
    right: 60px;
}

#return img {
    max-width: 150%;
}

#button {
    max-width: 50%;
    height: auto;
    display: block;
    margin: auto;
    border: 0px;
    background-color: transparent;
    border-radius: 42px;
    cursor: pointer;
    padding: 6px 16px;
}

/* #list {
    height: auto;
    width: auto
}


#amigos {
    position: relative;
    text-align: center;
    list-style: none;
    background-color: red;
    top: 50px;
} */

/****************************************************************/
ul {
    list-style: none;
}

li {
    display: block;
    width: 200px;
    height: 70px;
    padding: 20px;
    padding-left: 80px;
    font-size: 28px;
    color: #fff;
    background: dodgerblue;
    margin: 10px 0;
    position: relative;
}

li:after {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    background: #fff;
    border: 5px solid dodgerblue;
    border-radius: 50%;
    top: 0px;
    left: -50px;
}

ul:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 500px;
    background: #fff;
    border: 2px solid dodgerblue;
}