body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
}

.glob {
    position: relative;
    z-index: 98;
    border-radius: 50%;
    height: 232.2px;
    width: 232.2px;
    list-style: none;
    overflow: hidden;
    border: 2px solid black;
}

img {
    max-width: 70%;
    height: auto;
    display: block;
    margin: auto;
}

#notes,
#settings {
    height: 100%;
    width: 50%;
}

.glob img {
    max-width: 40%;
}

#notes {
    position: absolute;
    top: 60px;
    border: 2px solid black;
    height: 30px;
    width: 30px;
    right: 187px;
}

#notes img {
    max-width: 100%;
}

#settings {
    position: absolute;
    top: 60px;
    border: 2px solid black;
    height: 30px;
    width: 30px;
    right: 10px;
}

#settings img {
    max-width: 100%;
}

.glob p {
    text-align: center;
    margin: 6px;
}

#return {
    position: absolute;
    width: 116px;
    height: 28px;
    top: 200px;
    right: 60px;
}

#return img {
    max-width: 150%;
}

#button {
    max-width: 50%;
    height: auto;
    display: block;
    margin: auto;
    border: 0px;
    background-color: transparent;
    border-radius: 42px;
    cursor: pointer;
    padding: 6px 16px;
}